In [9]:
import dask.dataframe as dd
import pandas as pd
import os
import json

In [2]:
protein2ipr=dd.read_csv("/Volumes/ErvaSP/interpro-go/main_data/interpro_raw/protein2ipr.dat", names=["InterPro","Uniprot","Name",""] sep="\t")

In [ ]:
protein2ipr=protein2ipr[protein2ipr[""]]

In [3]:
os.getcwd().split("Domain2GO")[0]

'/Volumes/ErvaSP/GitHub/'

In [6]:
cwd = os.getcwd()
input_file_path = "{}Domain2GO/input_data".format(cwd.split("Domain2GO")[0])

In [7]:
"{}/manual_GOA_20191024_propagated.tsv".format(input_file_path)

'/Volumes/ErvaSP/GitHub/Domain2GO/input_data/manual_GOA_20191024_propagated.tsv'

In [2]:
go_data=pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/manual_GOA_20191024_propagated.tsv", delimiter = "\t", usecols=["GO_ID", "DB_OBJECT_ID"])

In [3]:
go_data

               GO_ID DB_OBJECT_ID
0         GO:0071617       P0A257
1         GO:0071617       Q3UN02
2         GO:0071617       Q8K3K7
3         GO:0071617       O35083
4         GO:0071617       Q924S1
...              ...          ...
12539922  GO:2001308       Q4WRY5
12539923  GO:2001308       Q4WMJ7
12539924  GO:2001308       A4GYZ0
12539925  GO:2001313       P77398
12539926  GO:2001316       Q2U5H9

[12539927 rows x 2 columns]

In [12]:
go_data.drop_duplicates(inplace = True)

In [13]:
go_data

               GO_ID DB_OBJECT_ID
0         GO:0071617       P0A257
1         GO:0071617       Q3UN02
2         GO:0071617       Q8K3K7
3         GO:0071617       O35083
4         GO:0071617       Q924S1
...              ...          ...
12539922  GO:2001308       Q4WRY5
12539923  GO:2001308       Q4WMJ7
12539924  GO:2001308       A4GYZ0
12539925  GO:2001313       P77398
12539926  GO:2001316       Q2U5H9

[8392680 rows x 2 columns]

In [5]:
cwd = os.getcwd()
input_file_path = "{}Domain2GO/input_data".format(cwd.split("Domain2GO")[0])
go_file = "{}/processed_go_data.txt".format(input_file_path)
go_data = pd.read_csv(go_file, delimiter = " ")
go_data

                 GO Uniprot
0        GO:0071617  Q3UN02
1        GO:0071617  Q8K3K7
2        GO:0071617  O35083
3        GO:0071617  Q16635
4        GO:0071617  Q5E9R2
...             ...     ...
6989813  GO:2001308  Q4WRY5
6989814  GO:2001308  Q4WMJ7
6989815  GO:2001308  A4GYZ0
6989816  GO:2001313  P77398
6989817  GO:2001316  Q2U5H9

[6989818 rows x 2 columns]

In [7]:
ipr_file = "{}/protein2ipr_onlydomains.txt".format(input_file_path)
ipr_data = dd.read_csv(ipr_file, delimiter = " ")
ipr_data

Dask DataFrame Structure:
               Uniprot Accession
npartitions=71
                object    object
                   ...       ...
...                ...       ...
                   ...       ...
                   ...       ...
Dask Name: read-csv, 71 tasks

In [1]:
from data_prep import data_process
input_data, input_data_w_scores = data_process()

In [2]:
input_data

                  GO Uniprot   Interpro
0         GO:0071617  Q3UN02  IPR002123
1         GO:0071617  Q3UN02  IPR032098
2         GO:0016746  Q3UN02  IPR002123
3         GO:0016746  Q3UN02  IPR032098
4         GO:0005783  Q3UN02  IPR002123
...              ...     ...        ...
12036978  GO:0043207  Q9SCS7  IPR008808
12036979  GO:0050896  Q9SCS7  IPR008808
12036980  GO:0051704  Q9SCS7  IPR008808
12036981  GO:0009605  Q9SCS7  IPR008808
12036982  GO:0009607  Q9SCS7  IPR008808

[12036983 rows x 3 columns]

In [3]:
input_data_w_scores

                 GO   Interpro  n  n_go  n_ip         s
0        GO:0000001  IPR000182  1    31   263  0.006803
1        GO:0000001  IPR000375  2    31    51  0.048780
2        GO:0000001  IPR001107  3    31    78  0.055046
3        GO:0000001  IPR001199  1    31    99  0.015385
4        GO:0000001  IPR001401  3    31    62  0.064516
...             ...        ... ..   ...   ...       ...
2069791  GO:2001315  IPR005793  1     1    45  0.043478
2069792  GO:2001316  IPR001138  1     1   141  0.014085
2069793  GO:2001316  IPR007219  1     1    77  0.025641
2069794  GO:2001317  IPR001138  1     1   141  0.014085
2069795  GO:2001317  IPR007219  1     1    77  0.025641

[2069796 rows x 6 columns]

In [4]:
input_data=pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/initial_mapping.txt")

In [5]:
input_data

                  GO Uniprot   Interpro
0         GO:0071617  Q3UN02  IPR002123
1         GO:0071617  Q3UN02  IPR032098
2         GO:0016746  Q3UN02  IPR002123
3         GO:0016746  Q3UN02  IPR032098
4         GO:0005783  Q3UN02  IPR002123
...              ...     ...        ...
12036978  GO:0043207  Q9SCS7  IPR008808
12036979  GO:0050896  Q9SCS7  IPR008808
12036980  GO:0051704  Q9SCS7  IPR008808
12036981  GO:0009605  Q9SCS7  IPR008808
12036982  GO:0009607  Q9SCS7  IPR008808

[12036983 rows x 3 columns]

In [3]:
input_data_w_scores=pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/initial_mapping_w_scores.txt")

In [4]:
input_data_w_scores

                 GO   Interpro  n  n_go  n_ip         s
0        GO:0000001  IPR000182  1    31   263  0.006803
1        GO:0000001  IPR000375  2    31    51  0.048780
2        GO:0000001  IPR001107  3    31    78  0.055046
3        GO:0000001  IPR001199  1    31    99  0.015385
4        GO:0000001  IPR001401  3    31    62  0.064516
...             ...        ... ..   ...   ...       ...
2069791  GO:2001315  IPR005793  1     1    45  0.043478
2069792  GO:2001316  IPR001138  1     1   141  0.014085
2069793  GO:2001316  IPR007219  1     1    77  0.025641
2069794  GO:2001317  IPR001138  1     1   141  0.014085
2069795  GO:2001317  IPR007219  1     1    77  0.025641

[2069796 rows x 6 columns]

In [3]:
from data_prep import random_mapping_create
random_mapping=random_mapping_create(input_data)

In [8]:
random_mapping

                  GO   Interpro  n  n_go  n_ip         s
0         GO:0000001  IPR000001  1    31    61  0.021739
1         GO:0000001  IPR000008  1    31   491  0.003831
2         GO:0000001  IPR000504  1    31  1003  0.001934
3         GO:0000001  IPR000719  2    31  3083  0.001285
4         GO:0000001  IPR000742  1    31   716  0.002677
...              ...        ... ..   ...   ...       ...
45840465  GO:2001315  IPR014031  1     1    85  0.023256
45840466  GO:2001316  IPR017452  1     1  1503  0.001330
45840467  GO:2001316  IPR026904  1     1    47  0.041667
45840468  GO:2001317  IPR005225  1     1  1131  0.001767
45840469  GO:2001317  IPR007330  1     1    44  0.044444

[45840470 rows x 6 columns]

In [7]:
random_mapping=pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/randomized_mapping.txt")

In [7]:
column_names = ["GO", "Interpro"]
random1 = pd.DataFrame(columns = column_names)
random1['GO'] = input_data['GO'].sample(frac=1, random_state=1).values
random1['Interpro'] = input_data['Interpro'].sample(frac=1, random_state=11).values
random1

                  GO   Interpro
0         GO:0031224  IPR004843
1         GO:0044238  IPR000742
2         GO:0048519  IPR000008
3         GO:0003723  IPR001962
4         GO:0000217  IPR003599
...              ...        ...
12036978  GO:0070011  IPR031910
12036979  GO:0016139  IPR013106
12036980  GO:0009117  IPR022691
12036981  GO:0005737  IPR019956
12036982  GO:0006807  IPR001433

[12036983 rows x 2 columns]

In [ ]:
from score_calculation import original_score_cal
input_w_scores = original_score_cal(input_data)

In [ ]:
input_data_w_scores.loc[(original["n"] >= y

In [5]:
import numpy as np
s_range=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6]
n_range=[1, 2, 3, 4, 5]

In [6]:
original_hist_arrays_index_list=[]
random_hist_arrays_index_list=[]
for x in s_range:
    for y in n_range:
        original_hist_arrays_index_list.append(str("original_s%s" % x + "_n%s" % y).replace('.', ''))
        random_hist_arrays_index_list.append(str("random_s%s" % x + "_n%s" % y).replace('.', ''))

In [14]:
original_hist_arrays=[]
random_hist_arrays=[]
for x, y in [(x,y) for x in s_range for y in n_range]:
    original_hist_arrays.append(np.histogram(input_data_w_scores.loc[(input_data_w_scores["n"] >= y ) & (input_data_w_scores["s"] < x )]["s"], bins=np.histogram_bin_edges(input_data_w_scores.loc[(input_data_w_scores["n"] >= y ) & (input_data_w_scores["s"] < x )]["s"], bins=20, range=(0,x)))[0])
    random_hist_arrays.append(np.histogram(random_mapping.loc[(random_mapping["n"] >= y ) & (random_mapping["s"] < x )]["s"], bins=np.histogram_bin_edges(random_mapping.loc[(random_mapping["n"] >= y ) & (random_mapping["s"] < x )]["s"], bins=20, range=(0,x)))[0]/10)

In [39]:
deneme_df=pd.DataFrame(columns = column_names, index=index_names)
deneme_df

     s<0.1 s<0.2 s<0.3 s<0.4 s<0.5 s<0.6
n>=1   NaN   NaN   NaN   NaN   NaN   NaN
n>=2   NaN   NaN   NaN   NaN   NaN   NaN
n>=3   NaN   NaN   NaN   NaN   NaN   NaN
n>=4   NaN   NaN   NaN   NaN   NaN   NaN
n>=5   NaN   NaN   NaN   NaN   NaN   NaN

In [ ]:
DataFrame.set_index(keys

In [38]:
column_names= ["s<" + str(s) for s in s_range]

In [37]:
column_names

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6]

In [26]:
index_names=["n>=" + str(s) for s in n_range]

In [ ]:
for x, y in [(x,y) for x in s_range for y in n_range]:

    column_names=

In [19]:
for x in s_range:
    for y in n_range:
        print(x,y)

0.1 1
0.1 2
0.1 3
0.1 4
0.1 5
0.2 1
0.2 2
0.2 3
0.2 4
0.2 5
0.3 1
0.3 2
0.3 3
0.3 4
0.3 5
0.4 1
0.4 2
0.4 3
0.4 4
0.4 5
0.5 1
0.5 2
0.5 3
0.5 4
0.5 5
0.6 1
0.6 2
0.6 3
0.6 4
0.6 5

In [9]:
from ks_test import ks_test_calc
ks_test_results=ks_test_calc(input_data_w_scores, random_mapping)

In [11]:
ks_test_results

,s<0.1,s<0.2,s<0.3,s<0.4,s<0.5,s<0.6
n>=1,"(0.2, 0.8319696107963263)","(0.25, 0.16497269950224194)","(0.43333333333333335, 1.9360373938277886e-05)","(0.5625, 5.265952465226643e-12)","(0.64, 1.424536470142474e-19)","(0.6916666666666667, 1.0003424808937669e-27)"
n>=2,"(0.65, 0.0002704973445409677)","(0.75, 3.063035734104128e-11)","(0.7833333333333333, 1.8131121649108368e-18)","(0.8, 8.821650984931484e-26)","(0.8, 3.5640292810890176e-32)","(0.8083333333333333, 1.5921244389855162e-39)"
n>=3,"(0.7, 5.569062975843453e-05)","(0.8, 5.392668545957972e-13)","(0.85, 2.1645919445905426e-22)","(0.8625, 6.737946693043326e-31)","(0.87, 1.9509242595079607e-39)","(0.8666666666666667, 7.642411613083631e-47)"
n>=4,"(0.7, 5.569062975843453e-05)","(0.8, 5.392668545957972e-13)","(0.85, 2.1645919445905426e-22)","(0.875, 4.941160908231773e-32)","(0.87, 1.9509242595079607e-39)","(0.875, 5.43460381374836e-48)"
n>=5,"(0.7, 5.569062975843453e-05)","(0.8, 5.392668545957972e-13)","(0.85, 2.1645919445905426e-22)","(0.875, 4.941160908231773e-32)","(0.88, 1.349043370936356e-40)","(0.875, 5.43460381374836e-48)"

In [26]:
import numpy as np
original_subset = input_data_w_scores.loc[(input_data_w_scores["n"] >= 1 ) & (input_data_w_scores["s"] < 0.1 )]
bins=np.histogram(original_subset["s"], bins=np.arange(0, 0.1+0.001, 0.005))[0]

In [27]:
bins

array([1132479,  291924,  155251,   95819,   67060,   50859,   35813,
         28376,   24586,   18095,   16871,   13442,   11934,    9812,
          8834,    6862,    7832,    5935,    4953,    4582])

In [38]:
plt.ioff()
o_hist=input_data_w_scores[input_data_w_scores["s"] < 0.1]["s"]
r_hist=random_mapping[random_mapping["s"] < 0.1]["s"]
bins=np.arange(0, 1, 0.025)
n1s01 = plt.figure()
plt.hist(r_hist, bins, alpha=0.5, log=True, edgecolor= "white", facecolor= "#7A72BD", label="Randomized Mapping") 
plt.hist(o_hist, bins, alpha=1, log=True, edgecolor= "white", facecolor= "#4AA3A0", label="Original Mapping") 
plt.legend(loc='upper right')
plt.suptitle(" Co-occurence Similarity Distribution (n≥1, S<0.1)", fontsize=12)
plt.xlabel('Co-occurence similarity bins', fontsize=12)
plt.ylabel('# of unique mappings', fontsize=12)
n1s01.set_figwidth(8)
n1s01.set_figheight(5)

plt.savefig("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/deneme.png")
plt.close(n1s01)

In [ ]:
os.mkdir("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/deneme_dir)

# EM

In [7]:
em_subset=input_data_w_scores[input_data_w_scores["s"] >= 0.1]

In [9]:
subset_mapping= pd.merge(input_data, em_subset, on=("GO", "Interpro"))[["GO", "Uniprot", "Interpro"]]

In [10]:
subset_mapping

                 GO Uniprot   Interpro
0        GO:0071617  Q3UN02  IPR002123
1        GO:0071617  Q8K3K7  IPR002123
2        GO:0071617  O35083  IPR002123
3        GO:0071617  Q16635  IPR002123
4        GO:0071617  Q5E9R2  IPR002123
...             ...     ...        ...
1314933  GO:0019046  Q05246  IPR010093
1314934  GO:0032359  Q05246  IPR041657
1314935  GO:0032359  Q05246  IPR010093
1314936  GO:0019045  Q05246  IPR041657
1314937  GO:0019045  Q05246  IPR010093

[1314938 rows x 3 columns]

In [11]:
subset_mapping["possible"] = subset_mapping.groupby(by=['GO','Interpro'])['GO'].transform('size')

In [12]:
subset_mapping

                 GO Uniprot   Interpro  possible
0        GO:0071617  Q3UN02  IPR002123        44
1        GO:0071617  Q8K3K7  IPR002123        44
2        GO:0071617  O35083  IPR002123        44
3        GO:0071617  Q16635  IPR002123        44
4        GO:0071617  Q5E9R2  IPR002123        44
...             ...     ...        ...       ...
1314933  GO:0019046  Q05246  IPR010093         1
1314934  GO:0032359  Q05246  IPR041657         1
1314935  GO:0032359  Q05246  IPR010093         1
1314936  GO:0019045  Q05246  IPR041657         1
1314937  GO:0019045  Q05246  IPR010093         1

[1314938 rows x 4 columns]

In [8]:
from EM_algorithm import calculate_initial_theta
initial_theta = calculate_initial_theta(input_data, input_data_w_scores)

In [10]:
initial_theta

                 GO Uniprot   Interpro  possible  reported  initial_theta
0        GO:0071617  Q3UN02  IPR002123        44         0       0.021739
1        GO:0071617  Q8K3K7  IPR002123        44         0       0.021739
2        GO:0071617  O35083  IPR002123        44         0       0.021739
3        GO:0071617  Q16635  IPR002123        44         0       0.021739
4        GO:0071617  Q5E9R2  IPR002123        44         0       0.021739
...             ...     ...        ...       ...       ...            ...
1314933  GO:0019046  Q05246  IPR010093         1         0       0.333333
1314934  GO:0032359  Q05246  IPR041657         1         0       0.333333
1314935  GO:0032359  Q05246  IPR010093         1         0       0.333333
1314936  GO:0019045  Q05246  IPR041657         1         0       0.333333
1314937  GO:0019045  Q05246  IPR010093         1         0       0.333333

[1314938 rows x 6 columns]

In [15]:
pairs = list(zip(initial_theta["Uniprot"], initial_theta["GO"],  initial_theta["Interpro"]))
C = {}
for p,g,i in pairs:
    C[p] = {}
for p,g,i in pairs:
    C[p][(g,i)] = 1.0

In [18]:
M = {}
N = {}

for p,g,i in pairs:
    M[(g,i)] = 0.0
    N[(g,i)] = 0.0

In [20]:
for e in C.keys():
    for i,j in C[e]:
        M[(i,j)] += C[e][(i,j)]
        N[(i,j)] += 1 - C[e][(i,j)]

In [ ]:
pd.read_csv("")

In [32]:
curated_data = pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/interpro2go_2021.txt", delimiter = " ")
curated_data.columns = ["GO", "Interpro"]
curated_data

               GO   Interpro
0      GO:0003677  IPR000003
1      GO:0003707  IPR000003
2      GO:0008270  IPR000003
3      GO:0006355  IPR000003
4      GO:0005634  IPR000003
...           ...        ...
34842  GO:0001516  IPR044499
34843  GO:0016491  IPR044500
34844  GO:0004659  IPR044502
34845  GO:0016491  IPR044503
34846  GO:0050580  IPR044504

[34847 rows x 2 columns]

In [33]:
z_scores = pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/em_z_scores.txt", delimiter = " ")
z_scores.columns=["GO", "Interpro", "Z"]
z_scores

               GO   Interpro   Z
0      GO:0000001  IPR019411  30
1      GO:0000001  IPR024774  15
2      GO:0000001  IPR031468  57
3      GO:0000002  IPR018850  35
4      GO:0000002  IPR019411  41
...           ...        ...  ..
78472  GO:2001304  IPR042062  18
78473  GO:2001305  IPR013910   5
78474  GO:2001306  IPR013819  31
78475  GO:2001306  IPR042062  18
78476  GO:2001307  IPR013910   5

[78477 rows x 3 columns]

In [36]:
z_scores[(z_scores["GO"] == "GO:0071617") & (z_scores["Interpro"] == "IPR002123")]

               GO   Interpro   Z
60668  GO:0071617  IPR002123  96

In [41]:
z_score_list = []
for key in M.keys():
    go = key[0]
    interpro = key[1]
    z_score_list.append(z_scores[(z_scores["GO"] == go) & (z_scores["Interpro"] == interpro)]["Z"])

In [43]:
len(M.keys())

78477

In [45]:
len(initial_theta)

1314938

In [51]:
z_score_list = []
for x in range(len(initial_theta)):
    go = initial_theta["GO"][x]
    interpro = initial_theta["Interpro"][x]
    z_score_list.append(z_scores[(z_scores["GO"] == go) & (z_scores["Interpro"] == interpro)]["Z"])

In [47]:
initial_theta

                 GO Uniprot   Interpro  possible  reported  initial_theta
0        GO:0071617  Q3UN02  IPR002123        44         0       0.021739
1        GO:0071617  Q8K3K7  IPR002123        44         0       0.021739
2        GO:0071617  O35083  IPR002123        44         0       0.021739
3        GO:0071617  Q16635  IPR002123        44         0       0.021739
4        GO:0071617  Q5E9R2  IPR002123        44         0       0.021739
...             ...     ...        ...       ...       ...            ...
1314933  GO:0019046  Q05246  IPR010093         1         0       0.333333
1314934  GO:0032359  Q05246  IPR041657         1         0       0.333333
1314935  GO:0032359  Q05246  IPR010093         1         0       0.333333
1314936  GO:0019045  Q05246  IPR041657         1         0       0.333333
1314937  GO:0019045  Q05246  IPR010093         1         0       0.333333

[1314938 rows x 6 columns]

In [54]:
new_z_scores = initial_theta[["GO", "Interpro"]]

In [ ]:
new_z_scores["Z"]

In [65]:
z_score_list_values = [i.values[0] for i in z_score_list]

In [67]:
new_z_scores["Z"] = z_score_list_values

/var/folders/_g/vd_rpn_x7lb_rx_5j2hjfj9r0000gn/T/ipykernel_3801/744610139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_z_scores["Z"] = z_score_list_values

In [71]:
new_z_scores.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/em_z_scores.txt", index=False, sep=" ")

In [79]:
new_z_scores.drop_duplicates(inplace=True)

/opt/anaconda3/envs/interpro/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [82]:
new_z_scores.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/em_z_scores.txt", index=False, sep=" ")

In [83]:
A, B, C, D = {}

ValueError: not enough values to unpack (expected 4, got 0)

In [91]:
[100] + list(range(0, 21000, 1000))[1:]

[100,
 1000,
 2000,
 3000,
 4000,
 5000,
 6000,
 7000,
 8000,
 9000,
 10000,
 11000,
 12000,
 13000,
 14000,
 15000,
 16000,
 17000,
 18000,
 19000,
 20000]

In [18]:
def read_predictions(prediction_file_path ):
    organisms_predictions = {}
    all_organisms_predictions = {}
    file_names = []
    ontologies = ["MFO", "CCO", "BPO"]
    for file in os.listdir(prediction_file_path):
        file_names.append(file)
    for ontology in ontologies:
        organisms_predictions[ontology] = []
        for file_name in file_names:
            if ontology in file_name:
                with open(prediction_file_path + file_name) as json_file:
                    temp_dict = json.load(json_file)
                organisms_predictions[ontology].append(temp_dict)

        all_organisms_predictions[ontology] = organisms_predictions[ontology][0].copy()
        for organism in organisms_predictions[ontology]:
            all_organisms_predictions[ontology].update(organism)

    return all_organisms_predictions

In [19]:
deneme_dict = read_predictions("/Volumes/ErvaSP/interpro-go/CAFA/final_evaluation/predictions/blast_predictions/json/" )

In [23]:
print(len(deneme_dict["MFO"]))
print(len(deneme_dict["CCO"]))
print(len(deneme_dict["BPO"]))

376
594
779

# cafa-uniprot map file creation

In [9]:
filtered_original = pd.read_csv("/Volumes/ErvaSP/interpro-go/main_data/filtered_original.txt", sep=" ")

In [11]:
filtered_original.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/filtered_original.txt", index=False)

In [15]:
all_organisms_cafa_uniprot_map = pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/cafa/CAFA3_targets_to_uniprot.txt", sep = " ")

In [14]:
domain_uniprot= dd.read_csv("/Volumes/ErvaSP/interpro-go/main_data/interpro_raw/protein2ipr_onlydomains.txt", sep= " ")

In [18]:
domain_uniprot = domain_uniprot.loc[domain_uniprot['Uniprot'].isin(all_organisms_cafa_uniprot_map["Entry"])]

In [19]:
domain_target_uniprot=domain_uniprot.compute()

In [20]:
domain_target_uniprot.nunique()

Uniprot      86168
Accession     8446
dtype: int64

In [24]:
all_organisms_cafa_uniprot_map.columns = ['CAFA', 'Uniprot']

In [25]:
domain_target_uniprot_cafa = pd.merge(domain_target_uniprot, all_organisms_cafa_uniprot_map, on='Uniprot')

In [26]:
domain_target_uniprot_cafa

           Uniprot  Accession            CAFA
0       A0A0H2Z637  IPR004839  T2089630002886
1       A0A0H2Z8I3  IPR004839  T2089630004900
2       A0A0H2Z927  IPR004839  T2089630005413
3       A0A0H2Z973  IPR004839  T2089630004430
4       A0A0H2Z973  IPR000524  T2089630004430
...            ...        ...             ...
180777      Q9HDB8  IPR029104    T96060005290
180778      Q6ZQT7  IPR031572    T96060019272
180779      Q6ZRM9  IPR031572    T96060019237
180780      Q75L30  IPR031572    T96060019238
180781      O74346  IPR021746  T2848120001457

[180782 rows x 3 columns]

In [29]:
domain_target_uniprot_cafa.nunique()

Uniprot_ID     86168
Interpro_ID     8446
CAFA           77262
dtype: int64

In [37]:
domain_target_uniprot_cafa.columns = ["Uniprot", "Interpro", "CAFA"]

In [38]:
domain_target_uniprot_cafa.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/input_data/cafa/CAFA3_targets_domains_mapped.txt", index= False)

In [35]:
input_data_w_scores_cafa_subset = input_data_w_scores[input_data_w_scores["s"] >= 0.05]

In [36]:
input_data_w_scores_cafa_subset

                 GO   Interpro  n  n_go  n_ip         s
2        GO:0000001  IPR001107  3    31    78  0.055046
4        GO:0000001  IPR001401  3    31    62  0.064516
17       GO:0000001  IPR007519  1    31     3  0.058824
22       GO:0000001  IPR019411  5    31    21  0.192308
23       GO:0000001  IPR020850  3    31    52  0.072289
...             ...        ... ..   ...   ...       ...
2069751  GO:2001304  IPR042062  2     2    18  0.200000
2069753  GO:2001305  IPR013910  1     2     6  0.250000
2069756  GO:2001306  IPR013819  2     2    34  0.111111
2069757  GO:2001306  IPR042062  2     2    18  0.200000
2069759  GO:2001307  IPR013910  1     2     6  0.250000

[169534 rows x 6 columns]

In [40]:
predictions = pd.merge(domain_target_uniprot_cafa, input_data_w_scores_cafa_subset, on='Interpro')

In [41]:
predictions.nunique()

Uniprot     84102
Interpro     6897
CAFA        75354
GO          24665
n             714
n_go         1508
n_ip          261
s           17786
dtype: int64

In [42]:
predictions

,Uniprot,Interpro,CAFA,GO,n,n_go,n_ip,s
0,A0A0H2Z637,IPR004839,T2089630002886,GO:0002178,16,33,202,0.136170
1,A0A0H2Z637,IPR004839,T2089630002886,GO:0003870,10,11,202,0.093897
2,A0A0H2Z637,IPR004839,T2089630002886,GO:0004021,19,20,202,0.171171
3,A0A0H2Z637,IPR004839,T2089630002886,GO:0004069,33,33,202,0.280851
4,A0A0H2Z637,IPR004839,T2089630002886,GO:0004758,18,18,202,0.163636
...,...,...,...,...,...,...,...,...
13835446,O74346,IPR021746,T2848120001457,GO:0098610,4,13,4,0.470588
13835447,O74346,IPR021746,T2848120001457,GO:0098630,4,113,4,0.068376
13835448,O74346,IPR021746,T2848120001457,GO:0098740,4,17,4,0.380952
13835449,O74346,IPR021746,T2848120001457,GO:0098741,3,10,4,0.428571
13835450,O74346,IPR021746,T2848120001457,GO:0098743,4,147,4,0.052980

In [43]:
file_names=[]
for file in os.listdir("/Volumes/ErvaSP/interpro-go/CAFA/CAFA3_targets/Mapping files"):
    file_names.append(file)

In [44]:
file_names

['.DS_Store',
 'adasd',
 'all_target_ids.txt',
 'mapping.208963.map',
 'mapping.237561.map',
 'mapping.7227.map',
 'sp_species.10090.map',
 'sp_species.10116.map',
 'sp_species.160488.map',
 'sp_species.170187.map',
 'sp_species.223283.map',
 'sp_species.224308.map',
 'sp_species.243232.map',
 'sp_species.243273.map',
 'sp_species.273057.map',
 'sp_species.284812.map',
 'sp_species.321314.map',
 'sp_species.3702.map',
 'sp_species.44689.map',
 'sp_species.559292.map',
 'sp_species.7955.map',
 'sp_species.83333.map',
 'sp_species.8355.map',
 'sp_species.85962.map',
 'sp_species.9606.map',
 'sp_species.99287.map',
 'uniprot_entry_maps(created_by_uniprot)']

In [45]:
file_names.remove('.DS_Store')
file_names.remove('adasd')
file_names.remove('all_target_ids.txt')
file_names.remove('uniprot_entry_maps(created_by_uniprot)')

In [46]:
len(file_names)

23

In [47]:
all_species_targets_df = []
for i in range(len(file_names)):
    temp_df = pd.read_csv("/Volumes/ErvaSP/interpro-go/CAFA/CAFA3_targets/Mapping files/"+file_names[i], sep="\t", header=None)
    all_species_targets_df.append(temp_df)

In [49]:
all_species_targets_df

[                   0           1
 0     T2089630000001  PA14_31220
 1     T2089630000002  PA14_64790
 2     T2089630000003  PA14_35250
 3     T2089630000004  PA14_48450
 4     T2089630000005  PA14_29300
 ...              ...         ...
 5887  T2089630005888  PA14_63550
 5888  T2089630005889  PA14_36070
 5889  T2089630005890  PA14_63220
 5890  T2089630005891  PA14_35600
 5891  T2089630005892  PA14_43230

 [5892 rows x 2 columns],
                     0            1
 0      T2375610000001  C3_01970C_A
 1      T2375610000002  C6_03940C_B
 2      T2375610000003  C6_03940C_A
 3      T2375610000004  C3_01970C_B
 4      T2375610000005  C2_05290C_A
 ...               ...          ...
 12416  T2375610012417  C2_04700C_B
 12417  T2375610012418  C2_04320W_A
 12418  T2375610012419  C5_04480C_B
 12419  T2375610012420  C3_01050C_A
 12420  T2375610012421  C3_01050C_B

 [12421 rows x 2 columns],
                   0            1            2
 0      T72270000001  FBgn0030647  FBpp0311216
 1      T72270000001  FBgn0030647  FBpp0073854
 2      T72270000002  FBgn0030878  FBpp0074267
 3      T72270000002  FBgn0030878  FBpp0306150
 4      T72270000003  FBgn0035360  FBpp0311277
 ...             ...          ...          ...
 30438  T72270013904  FBgn0051015  FBpp0085032
 30439  T72270013905  FBgn0051014  FBpp0085048
 30440  T72270013906  FBgn0051013  FBpp0085033
 30441  T72270013907  FBgn0051010  FBpp0307431
 30442  T72270013907  FBgn0051010  FBpp0085087

 [30443 rows x 3 columns],
                    0            1
 0      T100900000001  1433B_MOUSE
 1      T100900000002  1433E_MOUSE
 2      T100900000003  1433F_MOUSE
 3      T100900000004  1433G_MOUSE
 4      T100900000005  1433S_MOUSE
 ...              ...          ...
 16801  T100900016802  ZY11A_MOUSE
 16802  T100900016803  ZY11B_MOUSE
 16803  T100900016804    ZYX_MOUSE
 16804  T100900016805  ZZEF1_MOUSE
 16805  T100900016806   ZZZ3_MOUSE

 [16806 rows x 2 columns],
                   0          1
 0     T101160000001  1433B_RAT
 1     T101160000002  1433E_RAT
 2     T101160000003  1433F_RAT
 3     T101160000004  1433G_RAT
 4     T101160000005  1433T_RAT
 ...             ...        ...
 7958  T101160007959    ZPI_RAT
 7959  T101160007960  ZRAB2_RAT
 7960  T101160007961  ZUFSP_RAT
 7961  T101160007962   ZW10_RAT
 7962  T101160007963  ZWINT_RAT

 [7963 rows x 2 columns],
                   0            1
 0    T1604880000001  6HN3M_PSEPK
 1    T1604880000002   ACCA_PSEPK
 2    T1604880000003   ACCD_PSEPK
 3    T1604880000004   ACEK_PSEPK
 4    T1604880000005    ACP_PSEPK
 ..              ...          ...
 700  T1604880000701   YIDC_PSEPK
 701  T1604880000702   YIDD_PSEPK
 702  T1604880000703   YQGF_PSEPK
 703  T1604880000704   ZIPA_PSEPK
 704  T1604880000705   ZNUC_PSEPK

 [705 rows x 2 columns],
                   0            1
 0    T1701870000001   ACCA_STRPN
 1    T1701870000002   ACCD_STRPN
 2    T1701870000003   ACKA_STRPN
 3    T1701870000004   ACPS_STRPN
 4    T1701870000005    ACP_STRPN
 ..              ...          ...
 496  T1701870000497  YIDC1_STRPN
 497  T1701870000498  YIDC2_STRPN
 498  T1701870000499   YIDD_STRPN
 499  T1701870000500   ZMPB_STRPN
 500  T1701870000501   ZMPC_STRPN

 [501 rows x 2 columns],
                   0           1
 0    T2232830000001  1A1D_PSESM
 1    T2232830000002  3MGH_PSESM
 2    T2232830000003  ACCA_PSESM
 3    T2232830000004  ACCD_PSESM
 4    T2232830000005   ACP_PSESM
 ..              ...         ...
 673  T2232830000674  YIDC_PSESM
 674  T2232830000675  YIDD_PSESM
 675  T2232830000676  YQGF_PSESM
 676  T2232830000677  ZIPA_PSESM
 677  T2232830000678  ZNUC_PSESM

 [678 rows x 2 columns],
                    0           1
 0     T2243080000001  2NPD_BACSU
 1     T2243080000002  3MGA_BACSU
 2     T2243080000003  3MGH_BACSU
 3     T2243080000004   4OT_BACSU
 4     T2243080000005  53DR_BACSU
 ...              ...         ...
 4180  T2243080004181  ZNUA_BACSU
 4181  T2243080004182  ZNUB_BACSU
 4182  T2243080004183  ZNUC_BACSU
 4183  T2243080004184  ZOSA_BACSU
 4184  T2243080004185   ZUR_BACSU

 [4185 rows x 2 columns],
                    0            1
 0     T2432320000001    AAT_METJA
 1     T2432320000002   ACDA_METJA
 2     T2432320000003  ACDB1_METJA
 3     T2432320000004  ACDB2_METJA
 4     T2432320000005   ACDD_METJA
 ...              ...          ...
 1782  T2432320001783   YE7B_METJA
 1783  T2432320001784   YE8A_METJA
 1784  T2432320001785   YF1B_METJA
 1785  T2432320001786   YF7B_METJA
 1786  T2432320001787   YF9A_METJA

 [1787 rows x 2 columns],
                   0           1
 0    T2432730000001  ACKA_MYCGE
 1    T2432730000002  ACPH_MYCGE
 2    T2432730000003  ACPS_MYCGE
 3    T2432730000004  ADP1_MYCGE
 4    T2432730000005   ALF_MYCGE
 ..              ...         ...
 478  T2432730000479  YBEY_MYCGE
 479  T2432730000480  YCHF_MYCGE
 480  T2432730000481  YHIT_MYCGE
 481  T2432730000482  YIDC_MYCGE
 482  T2432730000483  YQGF_MYCGE

 [483 rows x 2 columns],
                   0            1
 0    T2730570000001    AAT_SULSO
 1    T2730570000002   ACYP_SULSO
 2    T2730570000003    ADH_SULSO
 3    T2730570000004   AGAL_SULSO
 4    T2730570000005   AGLU_SULSO
 ..              ...          ...
 464  T2730570000465   Y535_SULSO
 465  T2730570000466  Y6503_SULSO
 466  T2730570000467   Y781_SULSO
 467  T2730570000468   Y942_SULSO
 468  T2730570000469   YHIT_SULSO

 [469 rows x 2 columns],
                    0            1
 0     T2848120000001   1A1D_SCHPO
 1     T2848120000002   2AAA_SCHPO
 2     T2848120000003   2ABA_SCHPO
 3     T2848120000004   2AD1_SCHPO
 4     T2848120000005   2AD2_SCHPO
 ...              ...          ...
 5115  T2848120005116   ZPR1_SCHPO
 5116  T2848120005117  ZRG17_SCHPO
 5117  T2848120005118   ZRT1_SCHPO
 5118  T2848120005119   ZUO1_SCHPO
 5119  T2848120005120   ZYM1_SCHPO

 [5120 rows x 2 columns],
                   0           1
 0    T3213140000001  5DNU_SALCH
 1    T3213140000002  6PGL_SALCH
 2    T3213140000003  AAEA_SALCH
 3    T3213140000004  AAEB_SALCH
 4    T3213140000005  AAEX_SALCH
 ..              ...         ...
 877  T3213140000878  ZIPA_SALCH
 878  T3213140000879  ZNTB_SALCH
 879  T3213140000880  ZNUC_SALCH
 880  T3213140000881  ZRAP_SALCH
 881  T3213140000882  ZUPT_SALCH

 [882 rows x 2 columns],
                   0            1
 0      T37020000001  14310_ARATH
 1      T37020000002  14311_ARATH
 2      T37020000003  14312_ARATH
 3      T37020000004  14331_ARATH
 4      T37020000005  14332_ARATH
 ...             ...          ...
 14749  T37020014750  ZWIP2_ARATH
 14750  T37020014751  ZWIP3_ARATH
 14751  T37020014752  ZWIP4_ARATH
 14752  T37020014753  ZWIP5_ARATH
 14753  T37020014754  ZWIP6_ARATH

 [14754 rows x 2 columns],
                   0            1
 0     T446890000001   1433_DICDI
 1     T446890000002    29C_DICDI
 2     T446890000003   2AAA_DICDI
 3     T446890000004     3F_DICDI
 4     T446890000005   3HAO_DICDI
 ...             ...          ...
 4126  T446890004127   ZNTB_DICDI
 4127  T446890004128   ZNTC_DICDI
 4128  T446890004129   ZNTD_DICDI
 4129  T446890004130   ZPR1_DICDI
 4130  T446890004131  ZSWM7_DICDI

 [4131 rows x 2 columns],
                    0           1
 0     T5592920000001  2A5D_YEAST
 1     T5592920000002  2AAA_YEAST
 2     T5592920000003  2ABA_YEAST
 3     T5592920000004  2NDP_YEAST
 4     T5592920000005  3HAO_YEAST
 ...              ...         ...
 6716  T5592920006717  ZRG8_YEAST
 6717  T5592920006718  ZRT1_YEAST
 6718  T5592920006719  ZRT2_YEAST
 6719  T5592920006720  ZRT3_YEAST
 6720  T5592920006721  ZUO1_YEAST

 [6721 rows x 2 columns],
                  0            1
 0     T79550000001  143BA_DANRE
 1     T79550000002  143BB_DANRE
 2     T79550000003  143G1_DANRE
 3     T79550000004   2ABD_DANRE
 4     T79550000005   3HAO_DANRE
 ...            ...          ...
 2962  T79550002963   ZNT9_DANRE
 2963  T79550002964  ZRN1B_DANRE
 2964  T79550002965  ZSWM7_DANRE
 2965  T79550002966  ZWILC_DANRE
 2966  T79550002967  ZYG11_DANRE

 [2967 rows x 2 columns],
                   0            1
 0     T833330000001   3MG1_ECOLI
 1     T833330000002   3MG2_ECOLI
 2     T833330000003  3PASE_ECOLI
 3     T833330000004   5DNU_ECOLI
 4     T833330000005   5FCL_ECOLI
 ...             ...          ...
 4429  T833330004430   ZRAP_ECOLI
 4430  T833330004431   ZRAR_ECOLI
 4431  T833330004432   ZRAS_ECOLI
 4432  T833330004433   ZUPT_ECOLI
 4433  T833330004434    ZUR_ECOLI

 [4434 rows x 2 columns],
                  0            1
 0     T83550000001  1433T_XENLA
 1     T83550000002  1433Z_XENLA
 2     T83550000003   1433_XENLA
 3     T83550000004  143BA_XENLA
 4     T83550000005  143BB_XENLA
 ...            ...          ...
 3397  T83550003398  ZRN1A_XENLA
 3398  T83550003399  ZRN1B_XENLA
 3399  T83550003400  ZWILC_XENLA
 3400  T83550003401  ZYG11_XENLA
 3401  T83550003402    ZYX_XENLA

 [3402 rows x 2 columns],
                  0           1
 0    T859620000001  6PGL_HELPY
 1    T859620000002  ACCA_HELPY
 2    T859620000003  ACNB_HELPY
 3    T859620000004  ACPS_HELPY
 4    T859620000005   ACP_HELPY
 ..             ...         ...
 588  T859620000589  YHIT_HELPY
 589  T859620000590  YIDC_HELPY
 590  T859620000591  YIDD_HELPY
 591  T859620000592  YLXH_HELPY
 592  T859620000593  YQGF_HELPY

 [593 rows x 2 columns],
                   0            1
 0      T96060000001  1433B_HUMAN
 1      T96060000002  1433E_HUMAN
 2      T96060000003  1433F_HUMAN
 3      T96060000004  1433G_HUMAN
 4      T96060000005  1433S_HUMAN
 ...             ...          ...
 20192  T96060020193  ZY11A_HUMAN
 20193  T96060020194  ZY11B_HUMAN
 20194  T96060020195    ZYX_HUMAN
 20195  T96060020196  ZZEF1_HUMAN
 20196  T96060020197   ZZZ3_HUMAN

 [20197 rows x 2 columns],
                   0           1
 0     T992870000001  5DNU_SALTY
 1     T992870000002  6PGD_SALTY
 2     T992870000003  6PGL_SALTY
 3     T992870000004  AAC6_SALTY
 4     T992870000005  AAEA_SALTY
 ...             ...         ...
 1784  T992870001785  ZNUC_SALTY
 1785  T992870001786  ZRAP_SALTY
 1786  T992870001787  ZRAR_SALTY
 1787  T992870001788  ZRAS_SALTY
 1788  T992870001789  ZUPT_SALTY

 [1789 rows x 2 columns]]

In [50]:
em_result = pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/em_algorithm/em_full_output.txt", sep=" ")

In [52]:
em_result.columns

Index(['GO_ID', 'Interpro_ID', 'initial_script', 'theta', 'E'], dtype='object')

In [53]:
em_result.columns = ['GO_ID', 'Interpro', 'initial_script', 'theta', 'E']

In [55]:
em_result.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/em_algorithm/em_full_output.txt", sep="\t", index=False)

In [57]:
theta_result = pd.read_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/em_algorithm/em_only_theta_output.txt", sep="\t")

In [58]:
theta_result

            GO_ID Interpro_ID  initial_script     theta
0      GO:0000001   IPR019411        0.142857  0.034838
1      GO:0000001   IPR024774        0.142857  0.073600
2      GO:0000001   IPR031468        0.142857  0.021186
3      GO:0000002   IPR018850        0.142857  0.050880
4      GO:0000002   IPR019411        0.142857  0.035125
...           ...         ...             ...       ...
78472  GO:2001304   IPR042062        0.002232  0.050418
78473  GO:2001305   IPR013910        0.002232  0.143900
78474  GO:2001306   IPR013819        0.002232  0.030457
78475  GO:2001306   IPR042062        0.002232  0.050418
78476  GO:2001307   IPR013910        0.002232  0.143900

[78477 rows x 4 columns]

In [59]:
theta_result.columns = ['GO_ID', 'Interpro', 'initial_script', 'theta']

In [ ]:
theta_result.to_csv("/Volumes/ErvaSP/GitHub/Domain2GO/outputs/em_algorithm/em_only_theta_output.txt", sep="\t", index=False)

In [16]:
cwd = os.getcwd()
input_file_path = "{}Domain2GO/input_data".format(cwd.split("Domain2GO")[0])
output_file_path = "{}Domain2GO/outputs".format(cwd.split("Domain2GO")[0])


cafa_files_path = "{}/cafa".format(input_file_path)
raw_predictions_path = "{}/cafa_raw_predictions".format(output_file_path)

ontologies = ["MFO", "CCO", "BPO"]
models = ["domain2go_s", "domain2go_e", "blast", "naive", "interpro2go_2016"]
cafa_to_domains = pd.read_csv("{}/CAFA3_targets_domains_mapped.txt".format(cafa_files_path))

def read_parsed_predictions(model):
    prediction_file_path = "{}/predictions/{}_predictions/json".format(cafa_files_path, model)
    organisms_predictions = {}
    all_organisms_predictions = {}

    for ontology in ontologies:
        organisms_predictions[ontology] = []
        for file in os.listdir(prediction_file_path):
            if ontology in file:
                with open("{}/{}".format(prediction_file_path, file)) as json_file:
                    temp_dict = json.load(json_file)
                organisms_predictions[ontology].append(temp_dict)

        # all_organisms_predictions[ontology] = organisms_predictions[ontology][0].copy()
        all_organisms_predictions[ontology] = {}

        for organism in organisms_predictions[ontology]:
            all_organisms_predictions[ontology].update(organism)

    return all_organisms_predictions

In [18]:
deneme = read_parsed_predictions("domain2go_s")

In [19]:
print(len(deneme["MFO"]))
print(len(deneme["CCO"]))
print(len(deneme["BPO"]))

219
209
467

In [13]:
prediction_file_path = "{}/predictions/{}_predictions".format(cafa_files_path, "domain2go_s")
os.listdir(prediction_file_path)

['.DS_Store',
 'dataframes',
 'json',
 'partial_dataframes',
 's_1_10090.txt',
 's_1_10116.txt',
 's_1_160488.txt',
 's_1_170187.txt',
 's_1_208963.txt',
 's_1_223283.txt',
 's_1_224308.txt',
 's_1_237561.txt',
 's_1_243232.txt',
 's_1_243273.txt',
 's_1_273057.txt',
 's_1_284812.txt',
 's_1_321314.txt',
 's_1_3702.txt',
 's_1_44689.txt',
 's_1_559292.txt',
 's_1_7227.txt',
 's_1_7955.txt',
 's_1_83333.txt',
 's_1_8355.txt',
 's_1_85962.txt',
 's_1_9606.txt',
 's_1_99287.txt']

In [20]:
initial_mapping = pd.read_csv("/Volumes/ErvaSP/interpro-go/repo_deneme/Domain2GO/outputs/initial_mapping.txt")
initial_mapping_w_scores = pd.read_csv("/Volumes/ErvaSP/interpro-go/repo_deneme/Domain2GO/outputs/initial_mapping_w_scores.txt")

In [21]:
initial_mapping_w_scores

                 GO   Interpro  n  n_go  n_ip         s
0        GO:0000001  IPR000182  1    31   263  0.006803
1        GO:0000001  IPR000375  2    31    51  0.048780
2        GO:0000001  IPR001107  3    31    78  0.055046
3        GO:0000001  IPR001199  1    31    99  0.015385
4        GO:0000001  IPR001401  3    31    62  0.064516
...             ...        ... ..   ...   ...       ...
2069791  GO:2001315  IPR005793  1     1    45  0.043478
2069792  GO:2001316  IPR001138  1     1   141  0.014085
2069793  GO:2001316  IPR007219  1     1    77  0.025641
2069794  GO:2001317  IPR001138  1     1   141  0.014085
2069795  GO:2001317  IPR007219  1     1    77  0.025641

[2069796 rows x 6 columns]

In [22]:
initial_mapping

                  GO Uniprot   Interpro
0         GO:0071617  Q3UN02  IPR002123
1         GO:0071617  Q3UN02  IPR032098
2         GO:0016746  Q3UN02  IPR002123
3         GO:0016746  Q3UN02  IPR032098
4         GO:0005783  Q3UN02  IPR002123
...              ...     ...        ...
12036978  GO:0043207  Q9SCS7  IPR008808
12036979  GO:0050896  Q9SCS7  IPR008808
12036980  GO:0051704  Q9SCS7  IPR008808
12036981  GO:0009605  Q9SCS7  IPR008808
12036982  GO:0009607  Q9SCS7  IPR008808

[12036983 rows x 3 columns]

In [23]:
# running EM algorithm

em_subset_w_scores = initial_mapping_w_scores[initial_mapping_w_scores["s"] >= 0.1]
em_subset = initial_mapping.merge(em_subset_w_scores, on=["GO", "Interpro"])

In [24]:
em_subset_w_scores

                 GO   Interpro   n  n_go  n_ip         s
22       GO:0000001  IPR019411   5    31    21  0.192308
26       GO:0000001  IPR024774   3    31     3  0.176471
28       GO:0000001  IPR031468  12    31    70  0.237624
104      GO:0000002  IPR018850   8    99     9  0.148148
105      GO:0000002  IPR019411  14    99    21  0.233333
...             ...        ...  ..   ...   ...       ...
2069751  GO:2001304  IPR042062   2     2    18  0.200000
2069753  GO:2001305  IPR013910   1     2     6  0.250000
2069756  GO:2001306  IPR013819   2     2    34  0.111111
2069757  GO:2001306  IPR042062   2     2    18  0.200000
2069759  GO:2001307  IPR013910   1     2     6  0.250000

[78477 rows x 6 columns]

In [ ]:
em_subset